name: Mobile Automation CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  mobile-tests:
    runs-on: ubuntu-latest
    timeout-minutes: 45

    steps:
      # -----------------------------
      # Checkout Repo
      # -----------------------------
      - name: Checkout Code
        uses: actions/checkout@v4

      # -----------------------------
      # Setup Node
      # -----------------------------
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Dependencies
        run: npm install

      # -----------------------------
      # Setup Java
      # -----------------------------
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      # -----------------------------
      # Setup Android SDK
      # -----------------------------
      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      # -----------------------------
      # Install Android System Image
      # -----------------------------
      - name: Install System Image
        run: |
          sdkmanager "system-images;android-33;google_apis;x86_64"

      # -----------------------------
      # Create Emulator
      # -----------------------------
      - name: Create AVD
        run: |
          echo "no" | avdmanager create avd -n ci-emulator -k "system-images;android-33;google_apis;x86_64" --device "pixel"

      # -----------------------------
      # Start Emulator
      # -----------------------------
      - name: Start Emulator
        run: |
          emulator -avd ci-emulator -no-window -no-audio -no-boot-anim &
          adb wait-for-device
          adb shell 'while [[ -z $(getprop sys.boot_completed) ]]; do sleep 5; done;'
          adb shell input keyevent 82

      # -----------------------------
      # Install Appium
      # -----------------------------
      - name: Install Appium
        run: |
          npm install -g appium
          appium driver install uiautomator2

      # -----------------------------
      # Start Appium Server
      # -----------------------------
      - name: Start Appium Server
        run: |
          appium --address 0.0.0.0 --port 4723 --relaxed-security --base-path / &
          sleep 15
      # -----------------------------
      # Wait for Appium
      # -----------------------------
      - name: Wait for Appium
        run: |
          for i in 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15
          do
            if curl -s http://127.0.0.1:4723/status | grep -q "ready"
            then
              echo "Appium is ready"
              break
            fi
            echo "Waiting for Appium..."
            sleep 4
          done
      - name: Check Appium Logs
        run: |
          echo "===== APPiUM.LOG ====="
          cat appium.log || true
          echo "===== APPiUM.OUT ====="
          cat appium.out || true
      # -----------------------------
      # Run Mobile Tests
      # -----------------------------
      - name: Run Mobile Tests
        env:
          DEVICE: emulator
          CI: true
        run: |
          npx wdio run mobile-automation/config/wdio.qa.conf.ts

      # -----------------------------
      # Install Allure CLI
      # -----------------------------
      - name: Install Allure
        run: npm install -g allure-commandline

      # -----------------------------
      # Generate Allure Report
      # -----------------------------
      - name: Generate Allure Report
        run: |
          allure generate reports/mobile/allure-results --clean -o reports/mobile/allure-report

      # -----------------------------
      # Upload Allure Report
      # -----------------------------
      - name: Upload Allure Report
        uses: actions/upload-artifact@v4
        with:
          name: mobile-allure-report
          path: reports/mobile/allure-report