name: Mobile Automation CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  mobile-tests:
    runs-on: ubuntu-latest
    timeout-minutes: 60

    steps:

      # -----------------------------
      # Checkout Repo
      # -----------------------------
      - name: Checkout Code
        uses: actions/checkout@v4

      # -----------------------------
      # Setup Node
      # -----------------------------
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      # -----------------------------
      # Install Mobile Dependencies
      # -----------------------------
      - name: Install Mobile Dependencies
        working-directory: mobile-automation
        run: npm install

      # -----------------------------
      # Install Appium Globally
      # -----------------------------
      - name: Install Appium
        run: npm install -g appium@3

      # -----------------------------
      # Install UiAutomator2 Driver
      # -----------------------------
      - name: Install UiAutomator2 Driver
        run: appium driver install uiautomator2

      - name: Verify Installed Drivers
        run: appium driver list --installed

      - name: Start Appium
        run: |
          appium --port 4723 &
          sleep 15
      # -----------------------------
      # Setup Java
      # -----------------------------
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      # -----------------------------
      # Setup Android SDK
      # -----------------------------
      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      # -----------------------------
      # Install Android System Image
      # -----------------------------
      - name: Install System Image
        run: |
          sdkmanager "system-images;android-33;google_apis;x86_64"

      # -----------------------------
      # Create Emulator
      # -----------------------------
      - name: Create AVD
        run: |
          echo "no" | avdmanager create avd -n ci-emulator \
          -k "system-images;android-33;google_apis;x86_64" \
          --device "pixel"

      # -----------------------------
      # Start Emulator
      # -----------------------------
      - name: Start Emulator
        run: |
          emulator -avd ci-emulator -no-window -no-audio -no-boot-anim &
          adb wait-for-device
          adb shell 'while [[ -z $(getprop sys.boot_completed) ]]; do sleep 5; done;'
          adb shell input keyevent 82

      # -----------------------------
      # Start Appium Server
      # -----------------------------
      - name: Start Appium
        run: |
          appium --port 4723 --relaxed-security &
          sleep 15

      # -----------------------------
      # Run Mobile Tests
      # -----------------------------
      - name: Run Mobile Tests
        working-directory: mobile-automation
        env:
          DEVICE: emulator
          CI: true
        run: npx wdio run config/wdio.qa.conf.ts

      # -----------------------------
      # Install Allure CLI
      # -----------------------------
      - name: Install Allure
        run: npm install -g allure-commandline

      # -----------------------------
      # Generate Allure Report
      # -----------------------------
      - name: Generate Allure Report
        run: |
          allure generate reports/mobile/allure-results \
          --clean \
          -o reports/mobile/allure-report

      # -----------------------------
      # Upload Allure Report
      # -----------------------------
      - name: Upload Allure Report
        uses: actions/upload-artifact@v4
        with:
          name: mobile-allure-report
          path: reports/mobile/allure-report